[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DynClust"]
	path = DynClust
	url = https://github.com/cran/DynClust
[submodule "PlasmaMutationDetector2"]
	path = PlasmaMutationDetector2
	url = https://github.com/cran/PlasmaMutationDetector2
